/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
}

#panel{
    width: 500px;
    height: 100px;
    margin: 0 auto;
    border: 1px solid black;
    font-weight: bolder;
    font-size: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.text{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px;
}

#display{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px;
}